.App {
  width: 100%;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 
  "header header"
  "navbar main-content";
}

.Header {
  grid-area: header;
  background-color:antiquewhite;
}
.header-logo {
  width: 35px;
}

.NavBar {
  grid-area: navbar;
  background-color:antiquewhite;
}

.Content {
  grid-area: main-content;
  background-color:antiquewhite;
}
.back-image {
  width: 100%;
}
.back-image img {
  width: 100%;
}